# drone exec files
.env
.secrets
.drone.yml

# Ignore vcpkg paths
buildtrees
downloads
installed
packages

# Ignore vcpkg files
# TODO Remove once third party repositories are supported
.vcpkg-root
scripts
vcpkg.exe

# Packaging files
*.zip
