Source: libxml2
Version: 2.10.2
Build-Depends: icu
Description: |
  Libxml2 is the XML C parser and toolkit developed for the Gnome project
  (but usable outside of the Gnome platform)

Feature: xslt
Description: |
  Compile Libxml2 with support for Libxslt.
