Source: curl
Version: 7.71.0
Build-Depends: zlib, brotli, nghttp2
Description: A library for transferring data with URLs

Feature: ssl
Build-Depends: libressl
Description: |
  SSL support through libressl. If not specified then the system SSL library
  will be used.

Feature: ipv6
Description: |
  Enable IPV6 support.
