Source: curl
Version: 7.87.0
Build-Depends: zlib, brotli, nghttp2
Description: A library for transferring data with URLs

Feature: ares
Build-Depends: c-ares
Description: |
  Enable c-ares for asynchronous DNS requests.

Feature: boringssl
Build-Depends: boringssl
Description: |
  SSL support through boringssl. If no SSL libraries are specified then the
  system SSL library will be used.

Feature: ca-bundle
Description: |
  Use the provided certificate bundle.

Feature: cookies
Description: |
  Enable cookie support.

Feature: http3
Build-Depends: nghttp3, ngtcp2
Description: |
  Enable HTTP/3 support.

Feature: ipv6
Description: |
  Enable IPV6 support.

Feature: libressl
Build-Depends: libressl
Description: |
  SSL support through libressl. If no SSL libraries are specified then the
  system SSL library will be used.
